@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: auto;
  padding: 15px;
  max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: black;
}

header {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content a {
  text-decoration: none;
}
header .header-content .fa-car {
  font-size: 26px;
  color: #fff;
}
header .header-content .logo-text {
  font-family: "Kaushan Script", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 26px;
}
header .header-content .nav-bar {
  margin: 0 250px;
}
header .header-content .nav-bar-item {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
header .header-content .nav-bar-item:hover {
  color: #F0A500;
}
header .header-content .fa-user {
  color: #fff;
  margin-right: 5px;
}
header .header-content .log-in-btn {
  color: #fff;
}
header .header-content .log-in {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
header .header-content .log-in:hover {
  background-color: #F0A500;
  transition: 0.5s;
}

.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Media/Other/intro-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.intro-content {
  margin-top: 115px;
}
.intro-title {
  color: #fff;
  font-size: 72px;
  width: 35%;
  line-height: 1;
  margin-bottom: 25px;
}
.intro-text {
  color: #fff;
}
.intro-author {
  color: #fff;
  font-style: italic;
}
.intro-social-links {
  margin: 45px 0 20px 0;
}
.intro-social-item {
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
}
.intro-social-item:hover {
  color: #F0A500;
  transition: 0.5s;
}
.intro-btn {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: #000;
  text-decoration: none;
  font-size: 16px;
}
.intro-btn:hover {
  background: #F0A500;
  transition: 0.5s;
}

.services {
  margin: 40px 0;
}
.services-title {
  text-align: center;
  margin-bottom: 25px;
}
.services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services-item {
  width: 30%;
  text-align: center;
}
.services-icon {
  font-size: 38px;
}

.about {
  margin: 40px 0;
}
.about-content {
  display: flex;
  justify-content: center;
}
.about-text-box {
  width: 50%;
  padding: 15px 20px;
}
.about-text-box .about-line {
  margin: 15px 0;
}
.about-text-box .about-social-links-title {
  margin-top: 20px;
}
.about-text-box .about-social-links-item {
  margin-right: 5px;
  color: #000;
  font-size: 22px;
}
.about-text-box .about-social-links-item:hover {
  color: #F0A500;
  transition: 0.5s;
}
.about-image-box {
  width: 50%;
}
.about-image-box .about-photo {
  width: 650px;
  height: 400px;
}

.contact {
  background: url(../Media/Other/contact-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .contact-title {
  text-align: center;
  color: #fff;
  padding-top: 25px;
}
.contact .form {
  margin: 15px 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  padding: 20px 25px;
}
.contact .form form .left-box {
  width: 50%;
}
.contact .form form .right-box {
  width: 50%;
}
.contact .form form .input-title {
  color: #fff;
}
.contact .form form .input-item {
  width: 100%;
  padding: 10px 15px;
}
.contact .form form .submit-btn {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}
.contact .form form .submit-btn:hover {
  background: #F0A500;
  transition: 0.5s;
}/*# sourceMappingURL=main.css.map */